@import 'partials/reset';
@import 'partials/base';
@import 'partials/mixins';
@import 'partials/portraits';


body{
    background-color: $cloudColor;

    nav{
        z-index: 1000;
        position:fixed;
        top: 0;
        height:100px;
        width:100%;
        background-color:$silverColor;
        @include box-shadow($youtubeShadow);
        @media (min-width: 1px) and (max-width: $upperPhone){
            height:60px;
        }
        
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;

            li{
                float: right;
                
                a{
                    display: block;
                    padding: 35px 20px;
                    text-decoration: none;
                    font-family: overwatch;
                    font-style:italic;
                    font-size: 30px;
                    text-decoration:none;
                    color:$cloudColor;
                    @media (min-width: 1px) and (max-width: $upperPhone){
                        font-size:25px;
                        padding: 17px 20px;
                    }

                    &:hover{
                        color: black;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .container{
        position:relative;
        top: 105px;
        width:80%;
        background-color: $silverColor;
        margin: 5px auto;
        padding: 5px 20px;
        text-align: center;
        @include box-shadow($youtubeShadow);
        @media (min-width: 1px) and (max-width: $upperPhone){
            width:97%;
            top:65px;
        }
        @media (min-width: $upperPhone+1px) and (max-width: $upperTablet){
            
        }
        @media (min-width: $upperTablet+1px) and (max-width: $mediumDesktops){
            
        }

        .hero-portrait{
            position:relative;
            display:inline-block;
            width:180px;
            height:310px;
            background-color:$cloudColor;
            border: 7px solid $cloudColor;
            margin:5px;
            vertical-align: bottom;
            @include transition(all .2s ease);
            @include box-shadow($youtubeShadow);
            @media (min-width: 1px) and (max-width: $upperPhone){
                width:123px;
                height:230px;
                background-size:cover;
            }

            &:hover{
                cursor: pointer;
                border: 4px solid $cloudColor;
            }

            .name{
                height: 50px;
                font-size:30px;
                font-family: overwatch;
                font-style: italic;
                color: $cloudColor;
                position:absolute;
                bottom:0;
                left: 0;
                margin: 0 auto;
                background-color: rgba(0,0,0,0.3);
                width: 100%;
                text-align: center;
                padding:10px;
                cursor: pointer;
                @media (min-width: 1px) and (max-width: $upperPhone){
                    font-size:20px;
                    height:40px;
                }
            }
        }
    }
}


