#bastion{
    background-image: url("../heroes/bastion.png");
}
#diva{
    background-image: url("../heroes/diva.png");
}
#genji{
    background-image: url("../heroes/genji.png");
}
#hanzo{
    background-image: url("../heroes/hanzo.png");
}
#junkrat{
    background-image: url("../heroes/junkrat.png");
}
#lucio{
    background-image: url("../heroes/lucio.png");
}
#mccree{
    background-image: url("../heroes/mccree.png");
}
#mei{
    background-image: url("../heroes/mei.png");
}
#mercy{
    background-image: url("../heroes/mercy.png");
}
#pharah{
    background-image: url("../heroes/pharah.png");
}
#reaper{
    background-image: url("../heroes/reaper.png");
}
#reinhardt{
    background-image: url("../heroes/reinhardt.png");
}
#roadhog{
    background-image: url("../heroes/roadhog.png");
}
#soldier_76{
    background-image: url("../heroes/soldier_76.png");
}
#symmetra{
    background-image: url("../heroes/symmetra.png");
}
#torbjoern{
    background-image: url("../heroes/torbjoern.png");
}
#tracer{
    background-image: url("../heroes/tracer.png");
}
#widowmaker{
    background-image: url("../heroes/widowmaker.png");
}
#winston{
    background-image: url("../heroes/winston.png");
}
#zarya{
    background-image: url("../heroes/zarya.png");
}
#zenyatta{
    background-image: url("../heroes/zenyatta.png");
}